@use '../../variables.scss' as variables;
@use '../../breakpoints.scss' as breakpoints;

.heroSection {
  background-color: variables.$hero-bg;
  padding: 20px 0;
}

.heroContent {
  padding-top: 45px;

  h2 {
    font-size: 35px;
    font-weight: 600;
    line-height: 40px;
    margin: 30px 0;
    text-transform: capitalize;
  }

  p {
    line-height: 28px;

    &:nth-child(1) {
      font-weight: 600;
    }
  }
}

.counterSection {
  background-color: variables.$primary-color;

  img {
    object-fit: contain;
  }
}

@include breakpoints.tablet {
  .counterSection {
    text-align: center;
    .counterImg {
      display: none;
    }

    .counterClock {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
